*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: fit-content;
}
::-webkit-scrollbar-track{
    background-color: #23272c;
}
::-webkit-scrollbar-thumb{
    background-color: #c7791b;
}
.parent-container{
    width: 100%;
    overflow: hidden;
}
/* navbar start */
nav.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px 40px;
    z-index: 9999;
    height: 90px;
    background-color: #121417;
}
nav.navbar img{
    height: 90px;
    width: 120px;
    border-radius: 50%;
}

nav.navbar .nav-child-right i{
    display: none;
    color: white;
    font-size: 35px;
}
nav.navbar a{
    text-decoration: none;
    font-size: 18px;
    margin: 0px 8px;
    color: #c7791b;
    transition: all 0.2s ease-in;
}
nav.navbar a:hover{
    color: white;
    font-size: 19px;
}
/* navbar end */
/* banner start */
.banner{
    min-height: 100vh;
    width: 100%;
    background-image: url('assets/background-1.jpg');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
}
.layout{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
}
.banner h1{
    margin-top: 50px;
    margin-left: 60px;
    text-transform: capitalize;
    font-size: 70px;
    z-index: 2;
}
.banner h3{
    margin-top: 10px;
    margin-left: 60px;
    text-transform: capitalize;
    z-index: 2;
}
.banner button{
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 170px;
    border-radius: 20px;
    background-color: #c7791b;
    z-index: 5;
    outline: none;
    border: 1px solid #23272c;
}
/* Add this CSS to create a visual hover effect */
.banner button:hover {
    background-color: #ff8e04;
    animation: shake 0.5s; /* Add a shake animation on hover */
}

@keyframes shake {
    0% {
    transform: translateX(0);
    }
    25% {
    transform: translateX(-7px);
    }
    50% {
    transform: translateX(7px);
    }
    75% {
    transform: translateX(-7px);
    }
    100% {
    transform: translateX(0);
    }
}

.banner i{
    color: white;
    font-size: 25px;
    margin-right: 10px;
}
/* banner end */
.menu{
    width: 100%;
    min-height: 100vh;
    background-image: url('assets/background-2.jpg');
    background-size: 100% 100%;
    padding: 60px 30px;
    overflow: hidden;
}
.title{
    text-align: center;
    margin: 20px 0px ;
    color: #c7791b;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 400;
}
.menu .parent-menu{
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    flex-wrap: wrap;
}
.menu .parent-menu .menu-food-item{
    width: 400px;
    height: 400px;
    margin: 30px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}
.menu .parent-menu .menu-food-item img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.overlay-menu{
    transition: all 0.3s ease-in;
}
.menu .menu-food-item:hover .overlay-menu{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 142, 4,0.8);
}
.menu .menu-food-item .menu-title{
    transition: all .5s linear;
    display: none;
}
.menu .menu-food-item:hover .menu-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.menu .parent-menu .menu-food-item .icons{
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    left: 0px;
    bottom: -100px;
    transition: .5s linear;
}
.menu .parent-menu .menu-food-item:hover .icons{
    bottom: 0px;
}
.menu .parent-menu .menu-food-item .icons i{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
/* about start */
.about{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('assets/background-3.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
}
.about div{
    max-width: 800px;
    margin: 50px 60px 0px;
    padding-left: 30px;
}
.about div h1{
    color: #c7791b;
    font-size: 50px;
    border-bottom: 5px solid #c7791b;
    width: fit-content;
}
.about div p {
    font-size: 25px;
    color: white;
    margin: 20px 0px;
    line-height: 1.7;
}
@media screen  and (max-width:740px){
    .about div{
        margin-left: 3px;
    }
    .about div p{
        margin-top: 15px 0;
        font-size: 18px;
    }
}
/* about end */
/* services start */
.services{
    padding: 20px;
    min-height: 500px;
    background-image: url('assets/background-4.jpg');
    background-size: 100% 100%;
}
.services .parent-services{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.services .parent-services div{
    width: 300px;
    margin: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services .parent-services div i{
    font-size: 90px;
    color: #ff8e04;
    cursor: pointer;
}
.services .parent-services div .title{
    font-size: 30px;
    color: #121417;
}
.services .parent-services div:hover .title{
    color: #ff8e04;
}
/* services end */
/* contact start */
.contact {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
    width: 100%;
}

.contact h1.title {
    font-size: 36px;
    color: #ff8e04;
    margin-bottom: 20px;
}

.contact form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contact form .parent-inputs {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 50px;
}

.contact form div input[type="text"],
.contact form div input[type="email"] {
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.contact form div .message {
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    resize: vertical;
}

.contact form div input[type="submit"] {
    background-color: #23272c;
    color: #c7791b;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact form div input[type="submit"]:hover {
    background-color: #c7791b;
    color: #fff;
}
.contact form .parent-map iframe{
    width: 600px;
    height: 450px;
}
@media screen and (max-width:1400px){
    .contact form {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contact form div {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .contact form .parent-map iframe{
        width: 400px;
        height: 350px;
    }
}
@media screen and (max-width:1400px){
    .contact form {
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .contact form div {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .contact form .parent-inputs {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .contact form .parent-map iframe{
        width: 90%;
        height: 350px;
        margin: auto;
    }
}
/* contact end */

/* contact end */
/* footer start */
footer{
    min-height: 60px;
    background-color: #23272c;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
footer p{
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px;
}
footer p a{
    text-decoration: none !important;
    color: #c7791b;
    margin-left: 0px;
}
footer #whatsapp{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
footer #whatsapp i{
    color: green;
    font-size: 25px;
}
/* footer end */
@media only screen and (max-width:600px){
    .banner h1{
        font-size: 50px;
        margin-left: 20px;
    }
    .banner h3{
        margin-left: 20px;
        text-transform: capitalize;
    }
    .banner button{
        margin-top: 30px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 140px;
        border-radius: 20px;
        background-color: #c7791b;
        z-index: 5;
        outline: none;
        border: 1px solid #23272c;
    }
    .nav-child-right i{
        display: block !important;
    }
    /* Your existing CSS styles */

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #333;
        color: white;
    }
    .nav-child-right {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .nav-child-right .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -100%; /* Initially hide the links off-screen */
    height: 100vh;
    width: 100%; /* Adjust as needed */
    background-color: #23272c;
    transition: right 0.6s ease-in; /* Transition the right property */
    }
    
    .show-sidebar .navbar-links {
    right: 0; /* Show the links when .show-sidebar is applied */
    }
    
    .nav-child-right .navbar-links a {
    color: #ff8e04;
    font-size: 25px;
    margin-top: 20px;
    text-decoration: none;
    margin: 10px 0; /* Add margin for spacing */
    transition: all 0.3s ease;
    }
    nav.navbar a:hover{
        color: white;
        font-size: 30px;
    }
    
    #menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
    z-index: 15;
    }
    
    #menu-icon:hover {
    color: #ff8e04; /* Change icon color on hover */
    }
    
    .menu{
        padding: 50px 10px;
    }
    .menu .parent-menu{
        padding: 20px 0px;
    }
    .about{
        background-size: cover;
    }
    .contact{
        padding: 40px 20px;
    }
    .contact form{
        padding: 0px;
    }
    .contact form div{
        width: 100%;
    }
    footer p{
        margin: 0px 0px 5px 0px;
    }
}